/*form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid rgb(18, 17, 17);
  margin-right: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #361d93;
  color: rgb(22, 21, 21);
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

h3 {
  margin-bottom: 10px;
  color: #f9f9f9;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.container{
  display: flex;
  flex-direction: row;
  padding: 15px;
  margin-left: 20px;
}
.Btn{
  padding: 5px;
  margin-left: 85%;
}
.checkbox{
  padding: 10px;
  margin-left: 85%;
}

.todo{
  width: 50%;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 8%;
  background-color: #0e0e0e;
}
.done{
  width:50%;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
margin-left: 15%;
  background-color: #340404;
}
*/
*{
  background-color: rgb(233, 229, 229);
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1{
  text-align: center;
  margin-top: 20px;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  
}

input[type='text'] {
  width: 20%;
  padding: 10px;
  font-size: 16px;
  border: solid black2px;
  border-radius: 5px;
}

.todo,
.done {
  width: 50%;
  height: 80vh;
  overflow: auto;
  margin: 20px;
  border: solid black 2px;
}

.todo h3,
.done h3 {
  text-align: center;
  margin-top: 20px;
}

.todo ul,
.done ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo li,
.done li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgb(25, 24, 24);
}

.checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid lightgray;
  margin-right: 10px;
  cursor: pointer;
  outline: none;
}

.Btn {
  background-color: lightgray;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
}
